.contacts {
  width: 100%;
  max-width: 1220px;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
  min-height: calc(100vh - 68px);
}
.contacts_title_1 {
  font-family: "Exo 2",Sans-serif;
  color: var(--theme_secondary_color_blue);
  font-size: 26px;
  font-weight: 700
}

.contacts_text_1 {
  max-width: 900px;
  line-height: 18px;
  margin: 20px 0 0;
}