.agenda {
  width: 100%;
  max-width: 1220px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.agenda_title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  font-family: 'Exo 2', Sans-serif;
  color: var(--theme_secondary_color_blue);
  margin: 40px 0;
  text-align: center;
  width: 100%;
}

.agenda_title_2 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: 'Exo 2', Sans-serif;
  color: var(--theme_secondary_color_blue);
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

.agenda_block {
  display: flex;
  gap: 10px;
  width: 100%;
}

.agenda_hour {
  width: 100px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme_secondary_color_blue);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  padding: 7px 0;
  box-sizing: border-box;
}

.agenda_text {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 1px 10px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
}

.agenda_text b {
  font-size: 16px;
  line-height: 18px;
}

.agenda_text i {
  opacity: 0.5;
}

.agenda_blocks {
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
}

.agenda_blocks_bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
