.breadcrumb {
  color: #969fa8;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 114.286% */
  width: 100%;
  max-width: 1180px;
  padding: 0 10px;
  margin: 15px auto 15px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.breadcrumb a {
  text-decoration: none;
  color: inherit;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.breadcrumb-separator {
  color: #00000090;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
.breadcrumb span:last-child span {
  color: #969fa8;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  cursor: default;
}
.breadcrumb-item {
  margin-right: 8px;
  height: 100%;
  display: flex;
}
.breadcrumb-line {
  display: flex;
  align-items: center;
}
