.navbar {
  margin: 0 auto;
  width: 100vw;
  box-sizing: border-box;
  padding: 12px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  z-index: 999999999999999;
  position: sticky;
  background: var(--theme_primary_color_white)
}

.navbar_inside {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.navbar_logo {
  max-height: 50px;
  max-width: 210px
}

.navbar_logo_block {
  width: 210px
}

.navbar_inside_right {
  display: flex;
  gap: 15px
}

.navbar_inside_right_navbar {
  display: flex;
  gap: 10px;
  padding: 0 5px;
  width: fit-content
}

.navbar_inside_right_navbar_mob {
  display: flex;
  gap: 10px;
  padding: 0 5px;
  width: 210px;
  align-items: center;
  justify-content: flex-end
}

.navbar_inside_right_navbar a {
  text-decoration: none;
  color: var(--theme_primary_color_black);
  font-weight: 600;
  font-size: 18px;
  font-family: "Exo 2",Sans-serif
}

.navbar_inside_right_navbar:hover {
  background: var(--theme_secondary_color_yellow)
}

.navbar_inside_right_navbar_lang {
  position: relative
}

.navbar_inside_right_navbar_lang_choose {
  position: absolute;
  top: 50px;
  display: none;
  background: #f3f3f3
}

.navbar_inside_right_navbar_lang_choose_show {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 10px;
  box-sizing: border-box
}

.navbar_inside_right_navbar_lang_choose_btn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start
}

@media(max-width: 850px) {
  .navbar_inside_right {
    display:none
  }

  .navbar_inside_right_show {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: #fff;
    top: 80px;
    left: 0;
    padding: 20px 10px 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0 20px 20px #d3d3d3
  }
}

@media(max-width: 325px) {
  .navbar_logo {
    max-width:140px
  }
}

