.navbar {
  margin: 0 auto;
  width: 100vw;
  box-sizing: border-box;
  padding: 12px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  z-index: 999999999;
  position: sticky;
  top: 0;
  background: var(--theme_primary_color_white);
}

.navbar_inside {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_logo {
  max-height: 50px;
  max-width: 210px;
}

.navbar_logo_block {
  width: 210px;
}

.navbar_inside_right {
  display: flex;
  gap: 15px;
}

.navbar_inside_right_navbar {
  display: flex;
  gap: 10px;
  padding: 0 5px;
  width: fit-content;
}

.navbar_inside_right_navbar_mob {
  display: flex;
  gap: 10px;
  padding: 0 5px;
  width: 210px;
  align-items: center;
  justify-content: flex-end;
}

.navbar_inside_right_navbar a {
  text-decoration: none;
  color: var(--theme_primary_color_black);
  font-weight: 600;
  font-size: 18px;
  font-family: 'Exo 2', Sans-serif;
  transition:
    color 0.2s ease,
    background 0.2s ease;
}

.navbar_inside_right_navbar:hover a {
  color: var(--theme_secondary_color_yellow);
}

.navbar_inside_right_navbar_lang {
  position: relative;
  cursor: pointer;
}

.navbar_inside_right_navbar_lang_choose {
  position: absolute;
  top: 55px;
  /*right: 0;*/
  display: none;
  flex-direction: column;
  background: #f3f3f3;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar_inside_right_navbar_lang_choose_show {
  display: flex;
}

.navbar_inside_right_navbar_lang_choose_btn {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.navbar_inside_right_navbar_lang_choose_btn:hover {
  background: #e0e0e0;
}
.navbar_inside_right_navbar_mob_menu {
  display: none;
}

@media (max-width: 850px) {
  .navbar_inside_right {
    display: none;
  }
  .navbar_inside_right_navbar_mob_menu {
    display: block;
  }

  .navbar_inside_right_show {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: #fff;
    top: 80px;
    left: 0;
    padding: 20px 10px 30px;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0 20px 20px #d3d3d3;
    z-index: 999;
  }

  .navbar_inside_right_show a {
    font-size: 20px;
    padding: 10px 0;
  }
}

@media (max-width: 325px) {
  .navbar_logo {
    max-width: 140px;
  }
}
