body,
html,
#root {
  position: relative;
  z-index: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

:root {
  --vh: 100%;
}

:root {
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color-scheme: light dark;
  color: #222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme_primary_color_black: #222;
  --theme_primary_color_white: #ffffff;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #1d1d1f;
    background-color: #ffffff;
  }
}

/* Dark Mode Specific Styles */
:root.dark-mode {
  color: #ffffff;
  background-color: #222;

  --theme_primary_color_black: #ffffff;
  --theme_primary_color_white: #222;
}
